.password-changed-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(193.33deg, rgba(79, 249, 187, 0.69) 9.58%, rgba(13, 80, 195, 0.69) 51.15%, rgba(29, 102, 110, 0.69) 92.72%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Urbanist', sans-serif;
  }
  
  .logo {
    width: 200px;
    height: 200px;
    background: url('/public/poze/Logo1.png') no-repeat center center;
    background-size: contain;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 15px white);
  }
  
  .success-mark {
    margin-bottom: 30px;
  }
  
  .success-text h2 {
    font-weight: 700;
    font-size: 32px;
    color: #1E232C;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .success-text p {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
  }
  
  .back-button {
    margin-top: 50px;
  }
  
  .back-button button {
    width: 348px;
    height: 70px;
    background: #66B8CF;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .back-button button:hover {
    background: #58a2b6;
  }
  